<div class="row"> 
    <div class="col-3">
        <input [(ngModel)]="Hero.name" type="text" class="form-control m-1" placeholder="Name">
    </div>
    <div class="col-3">
        <input [(ngModel)]="Hero.power" type="text" class="form-control m-1" placeholder="Power">
    </div>
    <div class="col-3">
        <input [(ngModel)]="Hero.imageUrl" type="text" class="form-control m-1" placeholder="Image Url">
    </div>
    <div class="col-3">
        <button (click)="Update()" class="form-control create-btn">Update</button>
    </div>
</div>
