<div class="row">
    <div class="col-3">
      <input [(ngModel)]="Hero.name" type="text" class="form-control m-1" placeholder="Name">
    </div>
    <div class="col-3">
      <input [(ngModel)]="Hero.power" type="number" class="form-control m-1" placeholder="Power">
    </div>
    <div class="col-3">
      <input type="file" (change)="onFileChanged($event)" class="form-control m-1">
    </div>
    <div class="col-3">
      <button (click)="Ajout()" class="form-control create-btn">Create</button>
    </div>
  </div>
  